body {
  margin: 0;
  padding: 0;
}

#contentHeader {
  height: 2.5em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1em;
  z-index: 1;
  backdrop-filter: blur(5px);
  padding: 0 0.5em;
  gap: 1em;
}

.darkHeader {
  background-color: #4c4c4c;
  color: white;
}

.lightHeader {
  background-color: #dbdbdb;
  color: black;
}

#boardName {
  flex: 1;
}

#board {
  background-size: cover;
  background-position: center;
  height: 95.5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.darkBoard {
  background-color: #2f2f2f;
}

.lightBoard {
  background-color: #fff;
}

.genre {
  width: 31%;
  height: 92%;
  margin: 1em 0.5em;
  padding: 1em;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.genreDark {
  background-color: #1f1f1f;
  color: white;
}

.genreLight {
  background-color: #cfcfcf;
  color: black;
}

.classHead {
  color: white;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: x-large;
}

.classHeadText {
  width: 90%;
}

#indi1 {
  color: blue;
}

#indi2 {
  color: orange;
}

#indi3 {
  color: green;
}

.classFoot {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
}

.classFootText {
  width: 90%;
}

.cardContainer {
  margin-top: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  height: 90%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1em;
  height: 30%;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.cardDark {
  background-color: #2f2f2f;
  color: white;
}

.cardLight {
  background-color: #fff;
  color: black;
}

.cardTag {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.TagName {
  background-color: orange;
  color: black;
  padding: 0.3rem;
}

.cardName {
  font-size: x-large;
  font-weight: 900;
}

.cardDesc {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
  height: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.cardDet {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3rem;
}

.assigne {
  width: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.X {
  padding: 0.3rem;
  color: #fff;
}

#renamer {
  color: white;
  height: 80%;
  box-sizing: border-box;
  font-size: 0.9rem;
  padding: 0.5rem;
  display: none;
  border: none;
  outline: none;
}

.renamerDark {
  background-color: #1f1f1f;
  color: white;
}

.renamerLight {
  background-color: #fff;
  color: black;
}

.darkFoot {
  background-color: #3f3f3f;
  color: white;
}

.darkFoot:hover {
  background-color: #747474;
}

.lightFoot {
  background-color: #b9b9b9;
  color: #000;
}

.lightFoot:hover {
  background-color: #919191;
}
